.listing-container{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 10px;
    font-family:Lato;
    .listings{
        width: 100%;
        .list{
            display: grid;
            grid-template-columns: 4.0% 5.5% 20% 12.5% 25% 25% auto;
            grid-template-areas: "sno images title genre distributor production view ";
            padding: 10px;
            span{
                font-size: 15px;
                display: block;
                text-transform: capitalize;
                padding: 5px;
                display: flex;
                align-items: center;
                height: 50px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
                a{
                    padding: 10px 5px;
                    font-size: 12px;
                    text-align: center;
                    width: auto;
                    height: auto;
                    background: #3282b8;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px;
                    
                }
                &:nth-of-type(1){
                    grid-area: sno;
                }
                &:nth-of-type(2){
                    grid-area: images;
                }
                &:nth-of-type(3){
                    grid-area: title;
                }
                &:nth-of-type(4){
                    grid-area: genre;
                }
                &:nth-of-type(5){
                    grid-area: distributor;
                }
                &:nth-of-type(6){
                    grid-area: production;
                }
                &:nth-of-type(7){
                    grid-area: view;
                }
            }
            &:nth-of-type(even){
                background: #eee;
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .listing-container{
        .listings{
            .list{
                display: none;
                grid-template-areas: "sno images""title genre" "distributor" "production""view";
            }
        }
    }
}