.movie-details-container{
    width: 100%;
    .movie-details{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: Lato;
        .movie-detail{
            display: flex;
            flex-direction: column;
            padding: 5px;
            span{
                padding: 10px;
                input{
                    width: 100%;
                    padding: 10px 8px;
                    font-size: 15px;
                    outline: none;
                    border: 0;
                    background: #eee;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .movie-details-container{
      .movie-details{
          display: block
        }
    }
}