.App{
    width: 100%;
    font-family: Lato;
    form{
        width: 100%;
        padding: 20px;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-gap: 10px 20px;
            div{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                input,select{
                    width: 100%;
                    height: 35px;
                    border: 1px solid #ddd;
                    background: white;
                    padding: 10px;
                    color: black;
                    font-size: 15px;
                    border-radius: 5px;
                    &::placeholder{
                        color: #aaa;
                    }
                }
                label{
                    padding: 5px 10px;
                }
                .unactiveError{
                    display: none;
                }
                .error{
                    color: red;
                    display: block;
                    padding: 0 10px;
                }
            }
        button{
            width: 100%;
            height: 35px;
            padding: 0px 20px;
            align-self: center;
            color: white;
            background: #3282b8;
            font-weight: bold;
            font-size: 16px;
            border-radius: 5px;
        }
        .radiobuttonholder{
            span{
                display: flex;
                align-items: center;
                label{
                    margin:0;
                    padding: 10px 0;
                }
                input{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .App{
      form{
        grid-template-columns: auto;
        }
    }
}