@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: auto;
  background: #000;
  display: flex;
  align-items: center;
  .logo{
    width: 100%;
    img{
      width: 100%;
      max-width: 300px;
    }
  }
  nav{
    max-width: 400px;
    width: 100%;
    ul{
      display: flex;
      list-style: none;
      justify-content: space-around;
      li{
        padding: 10px;
        a{
          text-decoration: none;
          color: white;
          font-family: Lato;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){
  .header{
    flex-direction: column;
    justify-content: center;
    .logo{
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        width: 100%;
        max-width: 300px;
      }
    }
  }
}